<%- include("partials/shared_header", { title: "Login" }) %>
    <h1>Login</h1>
    <form action="/admin/login" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      <label for="token">Admin Key</label>
      <input type="password" name="token" />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
