<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <!-- prettier-ignore -->
    <title><%= title %></title>
    <style>
      body {
        font-family: sans-serif;
        background-color: #f0f0f0;
        padding: 1em;
        max-width: 800px;
      }

      a:hover {
        background-color: #e0e6f6;
      }

      a:visited:hover {
        background-color: #e7e0f6;
      }

      .pagination {
        list-style-type: none;
        padding: 0;
      }
      .pagination li {
        display: inline-block;
      }
      .pagination li a {
        display: block;
        padding: 0.5em 1em;
        text-decoration: none;
      }
      .pagination li.active a {
        background-color: #58739c;
        color: #fff;
      }

      table {
        border-collapse: collapse;
        border: 1px solid #ccc;
      }
      table.striped tr:nth-child(even) {
        background-color: #eaeaea;
      }
      table td,
      table th {
        border: 1px solid #ccc;
        padding: 0.25em 0.5em;
      }
      th.active {
        background-color: #e0e6f6;
      }
      td.actions {
        padding: 0;
        width: 0;
        text-align: center;
      }
      td.actions a {
        text-decoration: none;
        background-color: transparent;
        padding: 0.5em;
        height: 100%;
        width: 100%;
      }
      td.actions:hover {
        background-color: #e0e6f6;
      }

      @media (max-width: 800px) {
        body {
          padding: 0.5em;
        }

        table {
          width: 100%;
        }
        table td,
        table th {
          display: block;
          width: 100%;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: #222;
          color: #eee;
        }

        a:link,
        a:visited {
          color: #bbe;
        }

        a:link:hover,
        a:visited:hover {
          background-color: #446;
        }

        table.striped tr:nth-child(even) {
          background-color: #333;
        }

        th.active {
          background-color: #446;
        }
      }
    </style>
  </head>
  <body>
    <%- include("partials/shared_flash", { flashData: flash }) %>
  </body>
</html>
